.typeahead,
.tt-query,
.tt-hint {
  border: 1px solid #ccc;
}

.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
